<p>AUTH: <%= @auth.to_json %></p>

<p>TOKEN: <%= @auth.credentials.token %></p>

<hr>

<p>UID: <%= @auth.uid %></p>
<p>ChatWorkID: <%= @auth.info.chatwork_id %></p>
<p>Email: <%= @auth.info.email %></p>
<p><%= image_tag(@auth.info.image) %></p>

<p><%= link_to 'Go To TopPage', root_path %></p>
